html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */
.wrapper {
  width: 90%;
}

@media screen and (min-width: 406px) and (max-width: 1170px) {
  
  .wrapper {
    width: 406px;
  }

  #monkey {
    position: absolute;
    top: -50px;
    right: 120px;
  }
}
